<div class="add-exercises">
  <%= form_tag routine_url(session.routine.id), method: 'patch', remote: true do %>
  <div class="piece-of-paper-container">
    <div class="submit-container">
      <h1>Change this routine's exercises</h1>
      <%= submit_tag "Save these exercises" %>
    </div>
    <ul class="exercises-ul">
      <p class="label">Arms</p>
      <% arms.each do |exercise| %>
        <% if session.exercises.include?(exercise) %>
          <li class='exercise'>
            <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox' checked>

            <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
          </li>
        <% else %>
        <li class='exercise'>
          <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>

          <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
        </li>
        <% end %>
      <% end %>
      </ul>

      <ul class="exercises-ul">
      <p class="label">Legs</p>
      <% legs.each do |exercise| %>
        <% if session.exercises.include?(exercise) %>
          <li class='exercise'>
            <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox' checked>

            <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
          </li>
        <% else %>
        <li class='exercise'>
          <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>

          <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
        </li>
        <% end %>
      <% end %>
      </ul>

      <ul class="exercises-ul">
      <p class="label">Back</p>
      <% back.each do |exercise| %>
        <% if session.exercises.include?(exercise) %>
          <li class='exercise'>
            <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox' checked>

            <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
          </li>
        <% else %>
        <li class='exercise'>
          <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>

          <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
        </li>
        <% end %>
      <% end %>
      </ul>

      <ul class="exercises-ul">
      <p class="label">Chest</p>
      <% chest.each do |exercise| %>
        <% if session.exercises.include?(exercise) %>
          <li class='exercise'>
            <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox' checked>

            <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
          </li>
        <% else %>
        <li class='exercise'>
          <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>

          <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
        </li>
        <% end %>
      <% end %>
      </ul>

      <ul class="exercises-ul">
      <p class="label">Shoulders</p>
      <% shoulders.each do |exercise| %>
        <% if session.exercises.include?(exercise) %>
          <li class='exercise'>
            <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox' checked>

            <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
          </li>
        <% else %>
        <li class='exercise'>
          <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>

          <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
        </li>
        <% end %>
      <% end %>
      </ul>

      <ul class="exercises-ul">
      <p class="label">Abs</p>
      <% abs.each do |exercise| %>
        <% if session.exercises.include?(exercise) %>
          <li class='exercise'>
            <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox' checked>

            <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
          </li>
        <% else %>
        <li class='exercise'>
          <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>

          <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
        </li>
        <% end %>
      <% end %>
    </ul>

      <ul class="exercises-ul">
      <p class="label">Other</p>
      <% other.each do |exercise| %>
        <% if session.exercises.include?(exercise) %>
          <li class='exercise'>
            <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox' checked>

            <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
          </li>
        <% else %>
        <li class='exercise'>
          <input id="<%= exercise.id %>", name='routine[exercise_ids][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>

          <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
        </li>
        <% end %>
      <% end %>
    </ul>
    </div>
    <%= hidden_field_tag :session_id, session.id %>
  <% end %>
</div>
