<div class='session-form'>
  <%= form_for(@session, url: workout_sessions_url, method: 'post') do |f| %>

    <% if @session.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(@session.errors.count, 'error') %> prohibited this session from being saved:</h2>

        <ul>
        <% @session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

        <section class='session-workouts'>
          <div class="actual-content">
            <!-- <a href="#" class="create-routine-link tab">Create a new routine</a> -->
            <!-- <a href="#" class="choose-existing-link">Choose existing routine</a> -->

            <div class="create-new">
              <div class="new_routine_for_session_form">
                <%= f.fields_for Routine.new do |r| %>

                <%#= r.label :description, class: 'session-form-labels' %><br>
                <%#= r.text_field :description, placeholder: 'Name the routine', class: 'session-form-inputs form-validator' %>
                <!-- <span class="hide add-routine-name"><i class="fa fa-arrow-circle-o-left"></i> Add a name</span> -->
                <p class='add-exercise-p'><%= link_to "Create a new exercise".html_safe, new_exercise_url(client_id: @client.id) %></p>


                <div class='new-routine-exercises'>
                  <h3>Arms</h3>
                  <% @arms.each do |exercise| %>
                    <li>
                      <input id="<%= exercise.id %>", name='session[routine[exercise_ids]][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>
                      <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
                    </li>
                  <% end %>
                </div>

                <div class='new-routine-exercises'>
                  <h3>Legs</h3>
                  <% @legs.each do |exercise| %>
                    <li>
                      <input id="<%= exercise.id %>", name='session[routine[exercise_ids]][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>
                      <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
                    </li>
                  <% end %>
                </div>


                <div class='new-routine-exercises'>
                  <h3>Back</h3>
                  <% @back.each do |exercise| %>
                    <li>
                      <input id="<%= exercise.id %>", name='session[routine[exercise_ids]][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>
                      <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
                    </li>
                  <% end %>
                </div>

                <div class='new-routine-exercises'>
                  <h3>Chest</h3>
                  <% @chest.each do |exercise| %>
                    <li>
                      <input id="<%= exercise.id %>", name='session[routine[exercise_ids]][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>
                      <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
                    </li>
                  <% end %>
                </div>

                <div class='new-routine-exercises'>
                  <h3>Abs</h3>
                  <% @abs.each do |exercise| %>
                    <li>
                      <input id="<%= exercise.id %>", name='session[routine[exercise_ids]][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>
                      <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
                    </li>
                  <% end %>
                </div>


                <div class='new-routine-exercises'>
                  <h3>Shoulders</h3>
                  <% @shoulders.each do |exercise| %>
                    <li>
                      <input id="<%= exercise.id %>", name='session[routine[exercise_ids]][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>
                      <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
                    </li>
                  <% end %>
                </div>


                <div class='new-routine-exercises'>
                  <h3>Other</h3>
                  <% @other.each do |exercise| %>
                    <li>
                      <input id="<%= exercise.id %>", name='session[routine[exercise_ids]][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>
                      <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
                    </li>
                  <% end %>
                </div>





              <% end %>
              </div>
            </div> <!-- create-new -->

            <!-- <div class="choose-existing hide">
              <%# if current_gym.routines.count > 0 %>
                <h2>Choose pre-existing workout:</h2>
                <%#= f.label :routine_id, :class => 'hide', data: {client: @client.id} %>
                <%#= f.select :routine_id, options_for_select(current_gym.routines.collect{ |u| [u.description, u.id]}), include_blank: true %>
              <%# else %>
                <p class='no-routine-message'>You guys don't have any routines yet! Once you create a session we will save it to your routines.</p>
              <%# end %>
            </div> <!-- choose-exisiting -->

            <div class="submit-session">
              <% if params[:new_card] %>
                <%= f.submit "Save A Routine", class: 'session-form-submit-button'%>
                <%= f.hidden_field :session_tag, value: 'A' %>
              <% else %>
                <% if @client.cards.count < 1 || @client.cards.last.sessions.last.session_tag.nil? %>
                  <%= f.submit "Save A Routine", class: 'session-form-submit-button'%>
                  <%= f.hidden_field :session_tag, value: 'A' %>
                <% elsif @client.cards.last.sessions.last.session_tag == 'A' %>
                  <%= f.submit "Save B Routine", class: 'session-form-submit-button'%>
                  <%= f.hidden_field :session_tag, value: 'B' %>
                <% else %>
                  <%= f.submit "Save C Routine", class: 'session-form-submit-button'%>
                  <%= f.hidden_field :session_tag, value: 'C' %>
                <% end %>
              <% end %>
            </div>

            <%= f.hidden_field :client_id, value: @client.id %>
            <%= f.hidden_field :gym_id, value: current_gym.id %>
            <% if params[:new_card] %>
              <%= f.hidden_field :new_card, value: true %>
            <% end %>
          </div> <!-- actual-content -->
        </section> <!-- session-workouts -->

      <%#= f.hidden_field :name, value: "#{@client.name} ##{@client.sessions.count + 1}" %>
  <% end %>
</div>




