<div class='session-form'>
  <%= form_for(@session, url: workout_sessions_url, method: 'post') do |f| %>

    <% if @session.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(@session.errors.count, 'error') %> prohibited this session from being saved:</h2>

        <ul>
        <% @session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="datepicker-container">
        <section class="session-datepicker">
          <h2>This workout is for...</h2>
          <div class="h2-and-labels">


            <%= f.text_field :date, class: "session-datepicker-text-field hide new-session-date" %>
            <%= f.label :date, "Other date", class: "datepicker-label session-form-radio-button-label" %>

            <span class="dateor"><i class="fa fa-minus"></i></span>

            <input type='radio' name='session[date]' value=<%= Date.today %> checked="checked" class='session-form-radio-button new-session-date' id="today">
            <label class='session-form-radio-button-label' for="today">
            Today
            </label>

            <span class='date-or'><i class="fa fa-minus"></i></span>

            <input type='radio' name='session[date]' value=<%= Date.tomorrow %> class='session-form-radio-button new-session-date' id="tomorrow">
            <label class='session-form-radio-button-label' for="tomorrow" >
            Tomorrow
            </label>
          </div>
        </section>
      </div>

        <section class='session-workouts'>
          <div class="actual-content">
            <a href="#" class="create-routine-link tab">Create a new routine</a>
            <a href="#" class="choose-existing-link">Choose existing routine</a>

            <div class="create-new">
              <div class="new_routine_for_session_form">
                <%= f.fields_for Routine.new do |r| %>

                <%= r.label :description, class: 'session-form-labels' %><br>
                <%= r.text_field :description, placeholder: 'Name the routine', class: 'session-form-inputs', autofocus: true %>
                <span class="hide add-routine-name"><i class="fa fa-arrow-circle-o-left"></i> Add a name</span>
                <p class='add-exercise-p'><%= link_to "<i class=\"fa fa-plus-square-o\"></i> Create a new exercise".html_safe, new_exercise_url(client_id: @client.id) %></p>
                <ul class='new-routine-exercises'>
                  <% current_gym.exercises.each do |exercise| %>
                    <li>
                      <input id="<%= exercise.id %>", name='session[routine[exercise_ids]][]', value="<%= exercise.id %>", type='checkbox',  class='session-form-checkbox'>
                      <%= label_tag "#{exercise.id}", exercise.name, class: 'session-form-checkbox-labels' %>
                    </li>
                  <% end %>
                </ul>

              <% end %>
              </div>
            </div> <!-- create-new -->

            <div class="choose-existing hide">
              <h2>Choose pre-existing workout:</h2>
              <%= f.label :routine_id, :class => 'hide', data: {client: @client.id} %>
              <%= f.select :routine_id, options_for_select(Routine.all.collect{ |u| [u.description, u.id] }), include_blank: true %>
            </div> <!-- choose-exisiting -->


            <div class="submit-session">
              <%= f.submit 'Start workout', class: 'session-form-submit-button'%>
            </div>
          </div> <!-- actual-content -->
        </section> <!-- session-workouts -->

      <%= f.hidden_field :name, value: "#{@client.name} ##{@client.sessions.count + 1}" %>
      <%= f.hidden_field :client_id, value: @client.id %>
      <%= f.hidden_field :gym_id, value: current_gym.id %>
  <% end %>
</div>


