<div class="session-notes">
  <div class="session-note-form">
    <%= form_tag note_client_url, method: 'post', remote: true do %>
      <%= text_field_tag :content, nil, placeholder: "Write a note" %>
      <%= hidden_field_tag :client_id, client.id %>
      <%#= hidden_field_tag :session, value: true %>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>
  <ul>
    <% client.notes.reverse.each do |note| %>
      <li><%= note.content %><span><%= note.created_at.to_date.strftime("%B %d, %Y") %></span></li>
    <% end %>
  </ul>
</div>
