<div id="sessions">

<h2 id="month">
  <span class="sessions-prev-month">
    <%= link_to "<i class=\"fa fa-arrow-circle-o-left\"></i>".html_safe, date: date.months_since(-1) %>
  </span>
  <%= date.strftime("%B %Y") %>
  <span class="sessions-next-month">
    <%= link_to "<i class=\"fa fa-arrow-circle-o-right\"></i>".html_safe, date: date.months_since(1) %>
  </span>
</h2>

  <%= calendar date do |date| %>
    <%= date.day %>
    <% if sessions_by_date[date] %>
      <span class="cal-session-count"><%= pluralize(sessions_by_date[date].count, "session") %></span>
      <ul class='cal-ul' id="<%= date %>">
        <% sessions_by_date[date].each_with_index do |session, index| %>
          <% if session.done? && index > 1 %>
            <li class='hide cal-hidden done'><%= link_to "#{session.client.name} (#{session.routine.description})", workout_session_url(session.id) %></li>
          <% elsif session.done? && index < 2 %>
            <li class='done'><%= link_to "#{session.client.name} (#{session.routine.description})", workout_session_url(session.id) %></li>
          <% elsif index > 1 %>
            <li class='hide cal-hidden'><%= link_to "#{session.client.name} (#{session.routine.description})", workout_session_url(session.id) %></li>
          <% else %>
            <li><%= link_to "#{session.client.name} (#{session.routine.description})", workout_session_url(session.id) %></li>
          <% end %>
        <% end %>
      </ul>
      <div class="see-more-or-less">
        <span class="cal-see-all <%= date %>" data-date="<%= date %>"><%= link_to "See more", specific_date: date if sessions_by_date[date].count > 2 %></span>
      </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).keyup(function(event) {
    $('.sessions-next-month a').on("click",function(){
        window.location = $(this).attr("href");
    });
    $('.sessions-prev-month a').on("click",function(){
        window.location = $(this).attr("href");
    });

    if (event.keyCode == 39) {
      $('.sessions-next-month a').trigger("click");
      // alert("next");
    } else if(event.keyCode == 37) {
      $('.sessions-prev-month a').trigger("click");
      // alert("prev");
    }
  });
</script>






