<div class="workout-session-setting-form">
  <% if exercise.settings? %>
    <h1 class='workout-session-settings-header'><%= session.client.first_name %>'s <%= exercise.name.downcase %> settings</h1>
  <% end %>
  <%= form_for(setting_execution, remote: true, :html => { :class => 'session-setting-execution-form' }) do |f| %>
    <% if setting_execution.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(setting_execution.errors.count, "error") %> prohibited this setting_execution from being saved:</h2>

        <ul>
        <% setting_execution.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <ul class='exercise-settings-list'>
      <% if exercise.seat? %>
        <li class="field">
          <%= f.label :seat %>
          <%= f.text_field :seat %>
        </li>
      <% end %>

      <% if exercise.foot? %>
        <li class="field">
          <%= f.label :foot %>
          <%= f.text_field :foot %>
        </li>
      <% end %>

      <% if exercise.degrees? %>
        <li class="field">
          <%= f.label :degrees %>
          <%= f.text_field :degrees %>
        </li>
      <% end %>
      <% if exercise.back? %>
        <li class="field">
          <%= f.label :back %>
          <%= f.text_field :back %>
        </li>
      <% end %>
      <% if exercise.foot_stool? %>
        <li class="field">
          <%= f.label :foot_stool %>
          <%= f.text_field :foot_stool %>
        </li>
      <% end %>
      <% if exercise.pin? %>
        <li class="field">
          <%= f.label :pin %>
          <%= f.text_field :pin %>
        </li>
      <% end %>
      <% if exercise.arm? %>
        <li class="field">
          <%= f.label :arm %>
          <%= f.text_field :arm %>
        </li>
      <% end %>
      <% if exercise.seatbelt? %>
        <li class="field">
          <%= f.label :seatbelt %>
          <%= f.text_field :seatbelt %>
        </li>
      <% end %>
      <% if exercise.backpad? %>
        <li class="field">
          <%= f.label :backpad %>
          <%= f.text_field :backpad %>
        </li>
      <% end %>
      <% if exercise.knee? %>
        <li class="field">
          <%= f.label :knee %>
          <%= f.text_field :knee %>
        </li>
      <% end %>
      <% if exercise.seatpad? %>
        <li class="field">
          <%= f.label :seatpad %>
          <%= f.text_field :seatpad %>
        </li>
      <% end %>
      <% if exercise.chestpad? %>
        <li class="field">
          <%= f.label :chestpad %>
          <%= f.text_field :chestpad %>
        </li>
      <% end %>
      <% if exercise.hips? %>
        <li class="field">
          <%= f.label :hips %>
          <%= f.text_field :hips %>
        </li>
      <% end %>
      <% if exercise.leg? %>
        <li class="field">
          <%= f.label :leg %>
          <%= f.text_field :leg %>
        </li>
      <% end %>
    </ul>
    <%= f.hidden_field :client_id, value: client.id %>
    <%= f.hidden_field :exercise_id, value: exercise.id %>
    <%= f.hidden_field :session_id, value: session.id %>
    <div class="actions">
      <%#= f.submit %>
    </div>
  <% end %>
</div>
