<div class="specific-cal-day-container">
  <%= link_to "", workout_sessions_url, class: "fa fa-external-link fa-2x exit-link" %>
  <div class="inner-wrap">
    <h1><%= @specific_date.strftime("%B %d, %Y") %></h1>

    <!-- <ul>
      <%# specific_sessions.each do |session| %>
        <li>
          <%#= link_to session.client.name, client_url(session.client.id) %>
          is doing
          <%#= link_to session.routine.description, workout_session_url(session.id) %>
        </li>
      <%# end %>
    </ul> -->

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th>Routine</th>
        </tr>
      </thead>

      <tbody>
        <% specific_sessions.each do |specific_session| %>
          <tr>
            <td><%= link_to specific_session.client.name, workout_session_url(specific_session.id) %></td>
            <td></td>
            <td><%= specific_session.routine.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Back to my calendar", workout_sessions_url %>
  </div>
</div>
