<div class='workout-session-page'>
  <section class='session-show-header'>
    <h1 class='workout-session-client-name'><%= link_to @session.client.name, client_url(@session.client.id) %> <span>(<%= @session.client.machine_code %>)</span></h1>
  </section>
  <aside class='workout-session-exercise-list'>
    <ul>
      <% @exercises.each do |exercise| %>
      <% if @session.exercises.first.id == exercise.id %>
        <li class='onclick session-exercise first'>
          <%= link_to exercise.name, workout_session_url(@session.id, exercise_id: exercise.id), :class=> "session-exercise-link", remote: true %>
          <span class="order-count <%= exercise.name.downcase.tr(' ', '_') %>"><%= exercise.exercise_executions.last.count if exercise.exercise_executions.where(session_id: @session.id).count > 0 %></span>
        </li>
        <% else %>
        <li class='session-exercise'>
          <%= link_to exercise.name, workout_session_url(@session.id, exercise_id: exercise.id), :class=> "session-exercise-link", remote: true %>
          <span class="order-count <%= exercise.name.downcase.tr(' ', '_') %>"><%= exercise.exercise_executions.last.count if exercise.exercise_executions.where(session_id: @session.id).count > 0 %></span>
        </li>
        <% end %>
      <% end %>
      <li class='session-exercise notebook'><%= link_to "Notes", workout_session_url(notes: true), :class => "session-exercise-link notes", remote: true %></li>
    </ul>
  </aside>

  <div class='workout-session-execution-data'>
    <section class="settings-and-executions">
      <%= render 'setting_execution_form', exercise: @session.exercises.first, setting_execution: @setting_execution, client: @session.client, session: @session %>

      <%= render 'exercise_execution_form', exercise: @session.exercises.first, exercise_execution: @exercise_execution, session: @session %>
    </section>
    <%= render 'previous_stats', session: @session, exercise: @session.exercises.first %>
  </div>
</div>



