<% content_for :title, "#{@session.client.name}" %>
  <div class='workout-session-page'>
  <section class='session-show-header'>
    <header class="session-show-header-container">
    <% if @session.done.nil? %>
        <h1 class='workout-session-client-name'>
          <%= @session.client.name %> <span>(<%= @session.client.machine_code %>)</span>
        </h1>
        <div class="finish-and-coach-container">
            <div class="coach-select-container">
              <i class="fa fa-exclamation-triangle choose-coach-label"></i>
              <%= form_tag(workout_session_url(@session.id), method: 'patch', remote: true) do %>
                <%= select_tag "session[coach]", "<option>Dave</option><option>Andrea</option>".html_safe, multiple: false, class: 'coach-dropdown', id: 'sessionCoach', prompt: "Select Coach"%>
              <% end %>
              <i class="fa fa-arrow-circle-o-left hide pick-a-coach-please"></i>
            </div>
            <span class="coach-finish-and">and</span>
            <%= link_to "Finish workout", done_workout_session_url(session_id: @session.id), method: 'post', class: 'end-session' %>
          </div>
      <% else %>
        <h1 class='workout-session-client-name'>
          <%= link_to @session.client.name, client_url(@session.client.id) %>
          <span>(<%= @session.client.machine_code %>)</span>
        </h1>
        <p class="end-session-p">Trained by: <span><%= @session.coach %></span> <%= time_ago_in_words(@session.date) %> ago</p>
      <% end %>
      </header>

  <aside class='workout-session-exercise-list'>
    <ul>
      <li class='session-exercise notebook onclick first'>
        <%= link_to "Notes", workout_session_url(notes: true), :class => "session-exercise-link notes", remote: true %>
      </li>
      <% @exercises.each do |exercise| %>
      <% if @session.exercises.first.id == exercise.id %>
        <li class='session-exercise'>
          <%= link_to exercise.name, workout_session_url(@session.id, exercise_id: exercise.id), :class=> "session-exercise-link", remote: true %>
          <span class="order-count <%= exercise.name.downcase.tr(' ', '_') %>"><%= exercise.exercise_executions.last.count if exercise.exercise_executions.where(session_id: @session.id).count > 0 %></span>
        </li>
        <% else %>
        <li class='session-exercise'>
          <%= link_to exercise.name, workout_session_url(@session.id, exercise_id: exercise.id), :class=> "session-exercise-link", remote: true %>
          <span class="order-count <%= exercise.name.downcase.tr(' ', '_') %>"><%= exercise.exercise_executions.last.count if exercise.exercise_executions.where(session_id: @session.id).count > 0 %></span>
        </li>
        <% end %>
      <% end %>

      <% if @exercises_remaining %>
        <% @exercises_remaining.each do |exercise| %>
          <li class='session-exercise'>
            <%= link_to exercise.name, workout_session_url(@session.id, exercise_id: exercise.id), :class=> "session-exercise-link", remote: true %>
            <span class="order-count <%= exercise.name.downcase.tr(' ', '_') %>"><%= exercise.exercise_executions.last.count if exercise.exercise_executions.where(session_id: @session.id).count > 0 %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </aside>

  <div class='workout-session-execution-data'>
    <div class="exercise-title">
    </div>
    <section class="settings-and-executions notes">
      <%= render 'notes', client: @session.client %>
    </section>
  </div>
</div>




