<div class='workout-session-page'>
  <section class='session-show-header'>
    <% if @session.done.nil? %>
      <h1 class='workout-session-client-name'><%= @session.client.name %> <span>(<%= @session.client.machine_code %>)</span></h1>
      <%= link_to "Finish workout <i class=\"fa fa-sign-out\"></i>".html_safe, done_workout_session_url(session_id: @session.id), method: 'post', class: 'end-session' %>

        <div class="coach-select-container">
          <i class="fa fa-exclamation-triangle choose-coach-label"></i>
          <%= form_tag(workout_session_url(@session.id), method: 'patch', remote: true) do %>
            <%= select_tag "session[coach]", "<option>Bruno</option><option>Alexis</option><option>Nicole</option><option>Steve</option><option>Nathan</option>".html_safe, multiple: false, class: 'coach-dropdown', id: 'sessionCoach', prompt: "Select Coach"%>
          <% end %>
        </div>
      <% else %>
        <h1 class='workout-session-client-name'><%= link_to @session.client.name, client_url(@session.client.id) %> <span>(<%= @session.client.machine_code %>)</span></h1>
        <p class="end-session">Trained by: <span><%= @session.coach %></span> on <span><%= @session.date.strftime('%B %d, %Y') %></span></p>
      <% end %>

  <aside class='workout-session-exercise-list'>
    <ul>
      <li class='session-exercise notebook onclick first'>
        <%= link_to "Notes", workout_session_url(notes: true), :class => "session-exercise-link notes", remote: true %>
      </li>
      <% @exercises.each do |exercise| %>
      <% if @session.exercises.first.id == exercise.id %>
        <li class='session-exercise'>
          <%= link_to exercise.name, workout_session_url(@session.id, exercise_id: exercise.id), :class=> "session-exercise-link", remote: true %>
          <span class="order-count <%= exercise.name.downcase.tr(' ', '_') %>"><%= exercise.exercise_executions.last.count if exercise.exercise_executions.where(session_id: @session.id).count > 0 %></span>
        </li>
        <% else %>
        <li class='session-exercise'>
          <%= link_to exercise.name, workout_session_url(@session.id, exercise_id: exercise.id), :class=> "session-exercise-link", remote: true %>
          <span class="order-count <%= exercise.name.downcase.tr(' ', '_') %>"><%= exercise.exercise_executions.last.count if exercise.exercise_executions.where(session_id: @session.id).count > 0 %></span>
        </li>
        <% end %>
      <% end %>

      <% if @exercises_remaining %>
        <% @exercises_remaining.each do |exercise| %>
          <li class='session-exercise'>
            <%= link_to exercise.name, workout_session_url(@session.id, exercise_id: exercise.id), :class=> "session-exercise-link", remote: true %>
            <span class="order-count <%= exercise.name.downcase.tr(' ', '_') %>"><%= exercise.exercise_executions.last.count if exercise.exercise_executions.where(session_id: @session.id).count > 0 %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </aside>

  <div class='workout-session-execution-data'>
    <section class="settings-and-executions">
      <%= render 'notes', client: @session.client %>
    </section>
  </div>
</div>



