<p id="notice"><%= notice %></p>

<p>
  <strong>Seat:</strong>
  <%= @setting_execution.seat %>
</p>

<p>
  <strong>Foot:</strong>
  <%= @setting_execution.foot %>
</p>

<p>
  <strong>Degrees:</strong>
  <%= @setting_execution.degrees %>
</p>

<p>
  <strong>Back:</strong>
  <%= @setting_execution.back %>
</p>

<p>
  <strong>User:</strong>
  <%= @setting_execution.client_id %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @setting_execution.exercise_id %>
</p>

<p>
  <strong>Foot stool:</strong>
  <%= @setting_execution.foot_stool %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @setting_execution.pin %>
</p>

<p>
  <strong>Arm:</strong>
  <%= @setting_execution.arm %>
</p>

<p>
  <strong>Seatbelt:</strong>
  <%= @setting_execution.seatbelt %>
</p>

<p>
  <strong>Backpad:</strong>
  <%= @setting_execution.backpad %>
</p>

<p>
  <strong>Knee:</strong>
  <%= @setting_execution.knee %>
</p>

<p>
  <strong>Seatpad:</strong>
  <%= @setting_execution.seatpad %>
</p>

<p>
  <strong>Chestpad:</strong>
  <%= @setting_execution.chestpad %>
</p>

<p>
  <strong>Hips:</strong>
  <%= @setting_execution.hips %>
</p>

<p>
  <strong>Leg:</strong>
  <%= @setting_execution.leg %>
</p>

<%= link_to 'Edit', edit_setting_execution_path(@setting_execution) %> |
<%= link_to 'Back', setting_executions_path %>
