<ul class='ul-client-list'>
  <% unless params[:search].nil? || params[:search] == "" %>
    <p class='search-results-stats'>Showing <%= pluralize(clients.count, 'result') %> for "<%= params[:search] %>"</p>
  <% end %>

  <% clients.reverse.each do |client| %>
    <section class='client-wrapper'>
      <li class='client'>
        <%= link_to client.name, client_url(client.id), class: "client_name", data: {id: client.id} %>
        <span class='down-icon fa fa-chevron-down'></span>
      </li>
      <aside class='client-buttons hide <%= client.id %>'>
        <%= link_to "<i class=\"fa fa-plus-square-o\"></i> Create workout".html_safe, new_workout_session_url(client_id: client.id), class: 'client-start-workout' %>
        <%= link_to "<i class=\'fa fa-user\'></i> See profile".html_safe, client_url(client.id), class: 'client-manage-account' %>
      </aside>
    </section>
  <% end %>
</ul>

