<ul class='ul-client-list'>
  <% unless params[:search].nil? || params[:search] == "" %>
    <p class='search-results-stats'>Showing <%= pluralize(clients.count, 'result') %> for "<%= params[:search] %>"</p>
  <% end %>

  <% clients.reverse.each do |client| %>
    <li class='client'>
      <%= client.name %>
      <aside class='client-buttons'>
        <%= link_to 'Create workout', new_workout_session_url(client_id: client.id), class: 'client-start-workout' %>
        <%= link_to 'Manage account', client_url(client.id), class: 'client-manage-account' %>
      </aside>
    </li>
  <% end %>
</ul>
