<div class="new-client-form">
  <%= form_for(@client) do |f| %>
    <% if @client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field new-client-first-name">
      <%= f.text_field :first_name, placeholder: "First name", autofocus: true %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, placeholder: "Last name" %>
    </div>
    <div class="field">
      <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div class="field">
      <%= f.text_field :machine_code, placeholder: "Machine Code" %>
    </div>
    <%= f.hidden_field :gym_id, value: current_gym.id %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var firstName = {};
  $('.new-client-first-name input').on("focusout", function(){
    firstName = $(this).val();
    $('h1 .name').text(firstName);
  });

  $('.field input').on("keyup", function(){
    var inputs = $('.field input')
    $.each(inputs, function(key, value){
      console.log(  $(value).val() );
    });
  });

</script>

