<div class="new-client-form">
  <%= form_for(@client) do |f| %>
    <% if @client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="new-client-first-name">
      <%= f.text_field :first_name, placeholder: "First name", autofocus: true %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, placeholder: "Last name" %>
    </div>
    <div class="field">
      <%= f.email_field :email, placeholder: "Email" %>
    </div>
    <% unless current_gym.location == "evanston" %>
      <div class="field">
        <%= f.text_field :machine_code, placeholder: "Machine Code" %>
      </div>
    <% end %>

    <div class="field date">
      <%= f.label :birthday, class: "birthday-label" %>
      <%= f.date_field :birthday %>
    </div>

    <div class="field gender-container">
      <input type='radio' name='client[gender]' value="Male" id="male">
      <label for="male" class='client-gender'>
        Male
      </label>
      <!-- <span>or</span> -->
      <input type='radio' name='client[gender]' value="Female" id="female">
      <label for="female" class='client-gender'>
        Female
      </label>
    </div>
    <%= f.hidden_field :gym_id, value: current_gym.id %>
    <div class="actions">
      <%= f.submit "Get new client started" %>
    </div>
  <% end %>
</div>

