<div class="client-stats-show">
  <section class='client-stats-index'>
    <% if client.client_stats.present? %>
      <header class='client-index-header'>
        <h2>Previous Body Compostions</h2>
        <p class='new-body-comp'><%= link_to "<i class=\"fa fa-plus-square-o\"></i> New Body Composition".html_safe, new_stat_client_url(client.id) %></p>
      </header>
      <ul>
        <% client.client_stats.reverse.each do |stat| %>
          <li><%= link_to stat.created_at.strftime("%B %d, %Y"), stat_show_client_url(client_stat_id: stat.id, client_id: client.id)  %>
            <span><%= time_ago_in_words(stat.created_at) %></span>
          </li>
        <% end %>
      </ul>

    <% else %>
      <div class="no-body-comp-container">
        <div class='no-body-comp-message'>
          <h3><%= @client.first_name %> doesn't have any biometrics recorded.<br>Create his first body composition entry to start tracking his biometrics.
            <div class="create-new-body-comp-container">
            <%= link_to "Create a new entry", new_stat_client_url(@client.id) %>
            </div>
          </h3>
        </div>
      </div>
      <div class="no-body-comp-img-container">
        <%= image_tag('body-composition-filler-image.png', width: '480px', height: '480px') %>
      </div>
    <% end %>
  </section>
</div>
