<div class='client-index-page'>
  <div class='client-search-bar'>
    <%= form_tag clients_url, method: 'get', remote: true do %>
      <%= text_field_tag :search, nil, placeholder: "Search for one of your #{@clients.count} clients...", class: 'search-input' %>
      <%= submit_tag 'Search', class: 'search-submit' %>
    <% end %>
  </div>

  <section class='client-list'>
    <%= render 'client_search_results', clients: @clients %>
  </section>
</div>

<script type='text/javascript'>
  $(function() {
      var availableTags = <%= @clients.collect{ |client| client.name }.to_json.html_safe %>;
      $( '#search' ).autocomplete({
        source: availableTags
      });
    });
</script>
