<div class="client-container">
  <h1 class='client-name'><%= @client.name %></h1>
  <p class='client-email'><%= @client.email %></p>

  <div class="graph-container">
    <% if @client.sessions.present? %>
      <%= render 'client_graph', client: @client, exercise: @exercise, exercises: @exercises, type: @type %>
    <% else %>
      <h3 class='no-graph'>Log a workout session to start graphing results.</h3>
    <% end %>
  </div>

  <div class="client-note-container">
    <%= form_tag note_client_url, method: 'post' do %>
      <%= text_field_tag :content, nil, placeholder: "Write a note about #{@client.name}" %>
      <%= hidden_field_tag :client_id, @client.id %>
      <%= submit_tag "Submit" %>
    <% end %>
    <ul>
      <% @client.notes.reverse.each do |note| %>
        <li><%= note.content %><span><%= note.created_at.strftime("%B %d, %Y") %></span></li>
      <% end %>
    </ul>
  </div> <!-- note-container -->
</div>

<script type="text/javascript">
  $("select").on("change", function(){
    $(this).parent('form').submit();
  });
</script>
