<div class="client-container">
  <div class="name-wrap">
    <% if @client.photos.count > 0 %>
      <div class='img-container'>
        <%= link_to image_tag(@client.photos.last.avatar.url(:thumb)), @client.photos.last.avatar.url(:medium), :target => "_blank" %>
      </div>
    <% else %>
       <div class='img-container'>
        <%= image_tag("default_profile_pic.jpg", width: "100", height: "100") %>
      </div>
    <% end %>
    <header>
      <h1 class='client-name-show'><%= @client.name %><span> (<%= @client.machine_code %>)</span></h1>
      <p class='client-email'><%= @client.email %></p>
      <div class="client-show-links">
        <p><%= link_to "<i class=\"fa fa-plus-square-o\"></i> Create workout".html_safe, new_workout_session_url(client_id: @client.id) %></p>
        <p><%= link_to "<i class=\'fa fa-user\'></i> Body profile".html_safe, stat_show_client_url(@client.id), class: 'client-show-manage' %></p>
      </div>
    </header>
  </div>


  <div class="graph-container">
    <% if @client.sessions.present? %>
      <%= render 'client_graph', client: @client, exercise: @exercise, exercises: @exercises, type: @type %>
    <% else %>
      <h3 class='no-graph'>Log a workout session to start graphing results.</h3>
    <% end %>
  </div>

  <div class="client-note-container">
    <%= form_tag note_client_url, method: 'post' do %>
      <%= text_field_tag :content, nil, placeholder: "Write a note about #{@client.first_name}" %>
      <%= hidden_field_tag :client_id, @client.id %>
      <%= submit_tag "Submit" %>
    <% end %>
    <ul>
      <% @client.notes.reverse.each do |note| %>
        <li><%= note.content %><span><%= note.created_at.strftime("%B %d, %Y") %></span></li>
      <% end %>
    </ul>
  </div> <!-- note-container -->
</div>

