<div class="client-container">
  <p id="notice"><%= notice %></p>
  <h1 class='client-name'><%= @client.name %></h1>
  <p class='client-email'><%= @client.email %></p>

  <ul class='client-workout-sessions'>
    <h2>Sessions</h2>

    <% @client.sessions.each do |session| %>
      <li><%= link_to session.name, workout_session_url(session.id) %></li>
    <% end %>
  </ul>
  <% if @client.sessions.present? %>
    <h2>Weight chart</h2>
    <%= content_tag :div, "", id: "client_chart", data: {exercises: weight_session_graph_data(@client)} %>
  <% end %>
</div>
