<div class="client-container">
  <div class="name-wrap">
    <% if @client.photos.count > 0 %>
      <div class='img-container'>
        <%= link_to image_tag(@client.photos.last.avatar.url(:tiny)), @client.photos.last.avatar.url(:tiny), :target => "_blank" %>
      </div>
    <% else %>
       <div class='img-container'>
        <%= image_tag("default_profile_pic.jpg", width: "100", height: "100") %>
      </div>
    <% end %>
    <header>
      <h1 class='client-name-show'><%= @client.name %></h1>

      <!-- <p class='create-workout'><%#= link_to "<i class=\"fa fa-plus-square-o\"></i> Create new card".html_safe, new_workout_session_url(client_id: @client.id) %></p> -->

      <p class='client-email'><%= @client.email %></p>
      <%# if @client.goals.present? %>
        <!-- <p class='goal-parent'>Current goal: <span class='current-goal'>“<%#= @client.goals.last.content %>”</span></p> -->
      <%# end %>
    </header>
  </div>

  <ul class="tab-links">
    <li>
      <%= link_to "<i class=\"fa fa-align-left\"></i> Schedule".html_safe, "#", class: 'schedule-tab active', id: 'schedule-tab' %>
    </li>
    <li>
      <%= link_to "<i class=\"fa fa-pencil-square-o\"></i> Notes".html_safe, "#", class: 'note-tab', id: 'note-tab' %>
    </li>
    <li>
      <%= link_to "<i class=\'fa fa-user\'></i> Body profile".html_safe, "#", class: 'body-profile-tab-link', id: 'body-profile-tab' %>
    </li>
    <!-- <li>
      <%#= link_to "<i class=\"fa fa-align-left\"></i> Graph".html_safe, "#", class: 'graph-tab', id: 'graph-tab' %>
    </li> -->
  </ul>

  <div class="schedule-tab-container">
    <% if @client.cards.any? %>
      <%= render 'client_card_tab', client: @client, current_card: @current_card, previous_sessions: @previous_sessions, last_session: @last_session, next_session: @next_session  %>
    <% else %>
     <div class="no-schedule-container">
        <div class='no-schedule-message'>
          <h3>
            <%= @client.first_name %> doesn't have anything on his schedule. </br>
            Create his first workout card and start tracking his progress. </br>
            <div class="create-new-card-container">
              <%= link_to "Create a new workout card", new_workout_session_url(client_id: @client.id) %>
            </div>
          </h3>
        </div>
      </div>

      <div class="no-schedule-img-container">
        <%= image_tag('schedule-filler-image.png', width: '500px', height: '500px') %>
      </div>
    <% end %>
  </div>

  <div class="client-note-container hide">
    <% if @client.notes.present? %>
      <%= form_tag note_client_url, method: 'post', remote: true do %>
        <%= text_field_tag :content, nil, placeholder: "Write a note about #{@client.first_name}.<br>" %>
        <%= hidden_field_tag :client_id, @client.id %>
        <%= hidden_field_tag :client_page, true %>
        <%= submit_tag "Submit" %>
      <% end %>
      <ul>
        <% @client.notes.reverse.each do |note| %>
          <li><%= note.content %><span><%= note.created_at.strftime("%B %d, %Y") %></span></li>
        <% end %>
      </ul>
    <% else %>
    <div class="no-notes-note-container">
      <div class='no-note-message'>
        <h3><%= @client.first_name %> doesn't have any notes.<br>All notes will be recorded here.<%= form_tag note_client_url, method: 'post', remote: true do %>
      <%= text_field_tag :content, nil, placeholder: "Write a note about #{@client.first_name}", class: 'new-note' %>
      <%= hidden_field_tag :client_id, @client.id %>
      <%= hidden_field_tag :client_page, true %>
      <%= submit_tag "Submit", class: 'new-note-submit-button' %>
    <% end %>
  </h3>
      </div>
    </div>
    <div class="no-note-img-container">
      <%= image_tag('notes-filler-image.png', width: '500px', height: '500px') %>
    </div>
    <% end %>
  </div> <!-- note-container -->

  <div class="body-profile-tab hide">
    <%= render 'stat_index', client: @client %>
  </div>
</div>



