<div class="client-container">
  <div class="name-wrap">
    <% if @client.photos.count > 0 %>
      <div class='img-container'>
        <%= link_to image_tag(@client.photos.last.avatar.url(:thumb)), @client.photos.last.avatar.url(:medium), :target => "_blank" %>
      </div>
    <% else %>
       <div class='img-container'>
        <%= image_tag("default_profile_pic.jpg", width: "100", height: "100") %>
      </div>
    <% end %>
    <header>
      <h1 class='client-name-show'><%= @client.name %></h1>

      <% if @client.cards.present? && @client.cards.last.sessions.count >= 16 %>
        <!-- <p class='create-workout'><%= @client.first_name %> has 3 routines on his card.</p> -->
      <% elsif @client.cards.present? && @client.cards.last.sessions.count > 0 %>
        <p class='create-workout'><%= link_to "<i class=\"fa fa-plus-square-o\"></i> Add routine".html_safe, new_workout_session_url(client_id: @client.id) %></p>
      <% else %>
        <p class='create-workout'><%= link_to "<i class=\"fa fa-plus-square-o\"></i> Create new card".html_safe, new_workout_session_url(client_id: @client.id) %></p>
      <% end %>
      <p class='client-email'><%= @client.email %></p>
      <% if @client.goals.present? %>
        <p class='goal-parent'>Current goal: <span class='current-goal'>“<%= @client.goals.last.content %>”</span></p>
      <% end %>
    </header>
  </div>

  <ul class="tab-links">
    <li>
      <%= link_to "<i class=\"fa fa-align-left\"></i> Schedule".html_safe, "#", class: 'schedule-tab active', id: 'schedule-tab' %>
    </li>
    <li>
      <%= link_to "<i class=\"fa fa-pencil-square-o\"></i> Notes".html_safe, "#", class: 'note-tab', id: 'note-tab' %>
    </li>
    <li>
      <%= link_to "<i class=\'fa fa-user\'></i> Body profile".html_safe, "#", class: 'body-profile-tab-link', id: 'body-profile-tab' %>
    </li>
    <!-- <li>
      <%#= link_to "<i class=\"fa fa-align-left\"></i> Graph".html_safe, "#", class: 'graph-tab', id: 'graph-tab' %>
    </li> -->
  </ul>

  <div class="schedule-tab-container">
    <div class='schedule-container'>
      <% if @client.cards.present? %>
        <h2><%= pluralize(@upcoming_sessions_by_session_tag.count, "Upcoming Session") %></h2>
        <table>
          <tr>
            <th>Sessions</th>
            <th>Routine</th>
          </tr>
          <% @upcoming_sessions_by_session_tag.each do |session| %>
            <tr>
              <td>
                <%= link_to "Session ##{session.id}", workout_session_url(session.id)  %>
              </td>
              <td><%= session.session_tag %></td>
              <td></td>
            </tr>
          <% end %>
        </table>

        <h2><%= pluralize(@previous_sessions.count, "Previous Session") %></h2>
        <table>
           <tr>
            <th>Sessions</th>
            <th>Routine</th>
            <th>Coach</th>
            <th>Date</th>
          </tr>

          <% @previous_sessions.reverse.each do |session| %>
            <tr>
              <td><%= link_to("Session ##{session.id}", workout_session_url(session.id)) %></td>
              <td><%= session.session_tag %></td>
              <td><%= session.coach %></td>
              <td><%= session.date.strftime('%B %d, %Y') %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class="no-schedule-container">
          <div class='no-schedule-message'>
            <h3>Create a card for <%= @client.first_name %> to see the schedule!</h3>
          </div>
        </div>

        <div class="no-schedule-img-container">
          <%= image_tag('schedule-filler-image.png', width: '500px', height: '500px') %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="client-note-container hide">
    <%= form_tag note_client_url, method: 'post', remote: true do %>
      <%= text_field_tag :content, nil, placeholder: "Write a note about #{@client.first_name}" %>
      <%= hidden_field_tag :client_id, @client.id %>
      <%= hidden_field_tag :client_page, true %>
      <%= submit_tag "Submit" %>
    <% end %>

    <% if @client.notes.present? %>
      <ul>
        <% @client.notes.reverse.each do |note| %>
          <li><%= note.content %><span><%= note.created_at.strftime("%B %d, %Y") %></span></li>
        <% end %>
      </ul>
    <% else %>
    <div class="no-notes-note-container">
      <div class='no-note-message'>
        <h3>Write the first note to make sure you're staying on top of <%= @client.first_name %>!</h3>
      </div>
    </div>
    <div class="no-note-img-container">
      <%= image_tag('notes-filler-image.png', width: '500px', height: '500px') %>
    </div>
    <% end %>
  </div> <!-- note-container -->

  <div class="body-profile-tab hide">
    <%= render 'stat_index', client: @client %>
  </div>

  <!-- <div class="graph-tab-container hide">
    <div class="graph-container">
      <%# if @client.exercise_executions.present? %>
        <%#= render 'client_graph', client: @client, exercise: @exercise, exercises: @exercises, type: @type %>
      <%# else %>
        <div class="no-graph-note-container">
          <div class='no-graph-message'>
            <h3>As soon as <%#= @client.first_name %> starts working out, we'll graph it!</h3>
          </div>
        </div>
        <div class="no-graph-img-container">
          <%#= image_tag('graph-filler-image.png', width: '500', height: '500') %>
        </div>
      <%# end %>
    </div>
  </div> <!-- tab-container -->
</div>

