<p id="notice"><%= notice %></p>
<%#= content_tag :div, "", id: "client_chart", data: { exercises: @client.sessions.last.exercise_executions.first } %>
<p>
  <strong>Gym:</strong>
  <%= @client.gym_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Machine code:</strong>
  <%= @client.machine_code %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
