<div class="client_stat_show_page_container">
  <header class="client-stat-show-page-header">
    <%= image_tag(@photo.avatar.url(:thumb)) %>
    <h1><%= link_to @client.name, client_url(@client.id) %> -- Body Compisition</h1>
    <p>(<%= @client_stat.created_at.strftime("%B %d, %Y") %>)</p>
  </header>
  <ul>
    <li>
      <span>Weight:</span>
      <%= @client_stat.weight %>
    </li>
    <li>
      <span>Skeletal Muscle Mass:</span>
      <%= @client_stat.skeletal_muscle_mass %>
    </li>
    <li>
      <span>Left Arm:</span>
      <%= @client_stat.left_arm %>
    </li>
    <li>
      <span>Right Arm:</span>
      <%= @client_stat.right_arm %>
    </li>
    <li>
      <span>Trunk:</span>
      <%= @client_stat.trunk %>
    </li>
    <li>
      <span>Left Leg:</span>
      <%= @client_stat.left_leg %>
    </li>
    <li>
      <span>Right Leg:</span>
      <%= @client_stat.right_leg %>
    </li>
    <li>
      <span>Muscle To Gain:</span>
      <%= @client_stat.muscle_to_gain %>
    </li>
    <li>
      <span>Body Fat Mass:</span>
      <%= @client_stat.body_fat_mass %>
    </li>
    <li>
      <span>Percent Body Fat:</span>
      <%= @client_stat.percent_body_fat %>
    </li>
    <li>
      <span>Fat To Lose:</span>
      <%= @client_stat.fat_to_lose %>
    </li>
    <li>
      <span>Basal Metabolic Rate:</span>
      <%= @client_stat.basal_metabolic_rate %>
    </li>
    <li>

    </li>
  </ul>
</div>
