<!-- <div class="landing-container"> -->
  <div class="first-section">
    <section class="top-nav">
      <div class="logo">
        <p>HelpTrain<span>Me</span></p>
      </div>
      <ul>
          <li><%= link_to "Sign in", new_gym_session_url %></li>
      </ul>
    </section>
    <header>
      <h1>Improve the way your gym does fitness.</h1>
      <h3>
        HelpTrain<span>Me</span> tracks a clients workout performance and uses that data to provide meaningful feedback. </br>
        Your trainers will get more clients, keep them longer, and better ensure they reach their goals.
      </h3>
    </header>
    <div id="slideshow">
     <div>
       <%= image_tag("landing_image_1.png", width: '600px', height: '400px') %>
     </div>
     <div>
       <%= image_tag("landing_image_2.png", width: '600px', height: '400px') %>
     </div>
     <div>
       <%= image_tag("landing_image_3.png", width: '600px', height: '400px') %>
     </div>
    </div> <!-- slideshow -->
      <div class="get-me-started-container">
        <%= link_to "Get me started", "#" %>
      </div>
      <div class="first-learn-more-container">
        <%= link_to "Learn more", "#second-section", id: "first_learn_more" %>
      </div>
  </div> <!-- first-section -->
  <!-- </div> -->
<div class="second-container">
  <div class="second-section" id="second-section">
    <h2>Here is how HelpTrain<span>Me</span> will help your gym.</h2>
    <section class="benifit-statements">
      <div class="one">
        <h3>Save time and focus on what matters.</h3>
        <p>No more fumbling with clipboards, papers, and pencils. They can plan a client's workout, and seamlessly track progress during a session. HelpTrainMe lets the trainer focus on the client.</p>
      </div>
      <div class="two">
        <h3>No learning curve to get started.</h3>
        <p>Designed with fitness trainers in mind, HelpTrainMe is simple and intuitive. Trainers will quiclky be on their way to helping clients reach their goals. No spending time figuring out where things are or how they work.</p>
      </div>
      <div class="three">
        <h3>Keep clients coming back for more.</h3>
        <p>By using HelpTrainMe, clients will view concrete data showing their improvement over time. Trainers can measure and manage their clients' progress and help them reach their goals. A successful client is a sastisfied client, and that's better for everyone's bottom/waist line.</p>
      </div>
      <div class="four">
        <h3>It's no longer just about the facilities.</h3>
        <p>Now days, big box gyms have more resources than people know what to do with, but a gym is not just the sum of all it's facilities. It is a place to promote and pursue wellness. HelpTrainMe will create a more personal connection between gyms and their members. Members will come to associate the establishment with their healthy lifestyle, not just exercise.</p>
      </div>
    </section>
  </div>
</div>
