<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <span class="field">
    <%= f.label :weight %>
    <%= f.check_box :weight %> |
  </span>
  <span class="field">
    <%= f.label :percentage %>
    <%= f.check_box :percentage %>|
  </span>
  <span class="field">
    <%= f.label :reps %>
    <%= f.check_box :reps %> |
  </span>
  <span class="field">
    <%= f.label :time %>
    <%= f.check_box :time %> |
  </span>
  <span class="field">
    <%= f.label :seat %>
    <%= f.check_box :seat %> |
  </span>
  <span class="field">
    <%= f.label :foot %>
    <%= f.check_box :foot %> |
  </span>
  <span class="field">
    <%= f.label :degrees %>
    <%= f.check_box :degrees %> |
  </span>
  <span class="field">
    <%= f.label :back %>
    <%= f.check_box :back %> |
  </span>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
