<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@exercise.errors.count, 'error') %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class='exercise-option'>
    <%= f.label :name, class: 'exercise-label' %>
    <%= f.text_field :name, placeholder: 'Name', class: 'exercise-input' %>
  </div>

  <span class='exercise-option'>
    <%= f.check_box :weight %>
    <%= f.label :weight%>
  </span>
  <span class='exercise-option'>
    <%= f.check_box :percentage %>
    <%= f.label :percentage %>
  </span>
  <span class='exercise-option'>
    <%= f.check_box :reps %>
    <%= f.label :reps %>
  </span>
  <span class='exercise-option'>
    <%= f.check_box :time %>
    <%= f.label :time %>
  </span>
  <span class='exercise-option'>
    <%= f.check_box :seat %>
    <%= f.label :seat %>
  </span>
  <span class='exercise-option'>
    <%= f.check_box :foot %>
    <%= f.label :foot %>
  </span>
  <span class='exercise-option'>
    <%= f.check_box :degrees %>
    <%= f.label :degrees %>
  </span>
  <span class='exercise-option'>
    <%= f.check_box :back %>
    <%= f.label :back %>
  </span>
  <div class='actions'>
    <%= f.submit 'Submit Exercise', class: 'exercise-form-button' %>
  </div>
<% end %>
