<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@exercise.errors.count, 'error') %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class='exercise-option'>
    <%= f.label :name, class: 'exercise-label' %>
    <%= f.text_field :name, placeholder: 'Name of exercise', class: 'exercise-input' %>
  </div>
  <ul>
    <h3>Check all the executions you'd like to track.</h3>
    <li class='exercise-option'>
      <%= f.check_box :weight %>
      <%= f.label :weight%>
    </li>
    <li class='exercise-option'>
      <%= f.check_box :percentage %>
      <%= f.label :percentage %>
    </li>
    <li class='exercise-option'>
      <%= f.check_box :reps %>
      <%= f.label :reps %>
    </li>
    <li class='exercise-option'>
      <%= f.check_box :time %>
      <%= f.label :time %>
    </li>
  </br>
  <h3>Check all the settings that apply to this exercise.</h3>
    <li class='exercise-option'>
      <%= f.check_box :seat %>
      <%= f.label :seat %>
    </li>
    <li class='exercise-option'>
      <%= f.check_box :foot %>
      <%= f.label :foot %>
    </li>
    <li class='exercise-option'>
      <%= f.check_box :degrees %>
      <%= f.label :degrees %>
    </li>
    <li class='exercise-option'>
      <%= f.check_box :back %>
      <%= f.label :back %>
    </li>
  </ul>

  <%= hidden_field_tag :client_id, params[:client_id] %>

  <div class='actions'>
    <%= f.submit 'Create exercise', class: 'exercise-form-button' %>
  </div>
<% end %>
