<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% unless current_page?(workout_session_url(params[:id] || 1)) %>
    <% content_for :title, "HelpTrainMe" %>
  <% end %>
  <title><%= yield(:title) %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Duru+Sans|Exo+2' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,900' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if gym_signed_in? %>
    <% unless (params[:id] && current_page?(workout_session_url(params[:id]))) || current_page?(root_url) %>
      <nav class='app-nav absolute'>
        <%= link_to "<i class=\"fa fa-home\"></i>".html_safe, clients_url %>
        <%#= link_to "<i class=\"fa fa-calendar-o\"></i>".html_safe, workout_sessions_url %>|
        <%= link_to "<i class=\"fa fa-sign-out\"></i>".html_safe, destroy_gym_session_url, method: 'delete' %>
      </nav>
    <% end %>
  <% end %>

  <%= yield %>
</body>
</html>
