<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ECV2</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Duru+Sans|Exo+2' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,900' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if gym_signed_in? %>
    <nav class="main-nav" id="main-nav">
      <%= link_to "Clients", clients_url, class: 'navigation-link' %>
      <%= link_to "My account", "#", class: 'navigation-link' %>
      <%= link_to "Help", "#", class: 'navigation-link' %>
      <%= link_to "Sign Out", destroy_gym_session_url, method: 'delete', class: 'navigation-link' %>
    </nav>

    <div class="page-wrap">
      <header class="main-header">
        <a href="#main-nav" class="open-menu">
          <i class="fa fa-plus-square-o fa-lg"></i>
          <!-- <img src="http://sportinlaw.com/wp-content/uploads/2012/03/LA_Fitness.jpg" stle="width: 100px; height: 100px;"> -->
        </a>

        <a href="#" class="close-menu">
          <i class="fa fa-minus-square-o fa-lg"></i>
        </a>
      </header>
    </div>
    <div class='block'>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>
